.table, th, tr, td{
    border: 1px solid white;
}


.th{
    background-color: navy;
}

.table {
    
    border-collapse: collapse;
    
  }



h1{
    padding: 20px;
    background-color: 3f5765;
    color: white;

    border: 1px solid black;
}

body{
    background-color: bdd4de;
    border: 1px solid 404040;
}

tr:nth-child(even) {
    background-color: f6f5f4;


}

tr:nth-child(odd) {
    padding: 20px;
    background-color:white;

}

th{
    background-color: 3f5765;
    color: white;
}


#table1 {
    border-collapse: collapse;
}

img {
    width: 200px;
}